{% extends "base.twig" %}

{% block content %}
    {% set meta = post.get_field('meta') %}
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
        <div class="story-header story-header--{{ meta.layout }}">
            <div class="story-header__image rellax" data-rellax-speed="-5">
                {% set image = meta.featured_image %}
                {% include 'partial/image_fit.twig' with { } %}
            </div>
            <div class="story-header__meta col-md-7 offset-md-1 col-lg-5 offset-lg-2 offset-xl-3">
                <div class="story-header__kicker"><span>{{post.type.labels.singular_name}}</span> {{ translations.topic }}</div>
                <h2 class="story-header__title">{{ meta.title }}</h2>
                <div class="story-header__intro">{{ meta.intro }}</div>
                <div class="story-header__authors">
                    {{ meta.authors }}
                </div>
                <div class="blob blob--4"></div> {# rellax scrolling? #}
            </div>
        </div>
        {% include "layouts/layouts.twig" %}
        <div class="layout">
            <div class="layout__container">
                <div class="row">
                    <div class="social social--inline col-12 col-md-8 offset-md-2">
                        <h5 class="social__title">Spread The Word</h5>
                        {% include "partial/share.twig" with {class: 'share--inline'} %}
                    </div>
                </div>
            </div>
        </div>
        {% include "partial/related_stories.twig" %}
    </article>
{% endblock %}
