<div id="mc_embed_signup" class="newsletter">
    {% if current_language == "en" %}
        {% set newsletter = options.newsletter_en %}
        <form action="https://wwfcar.us20.list-manage.com/subscribe/post?u=3ce3fad69777ae8f60e020e76&amp;id=231f1a6e3f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            
            <div class="newsletter__title">{{ newsletter.newsletter_title }}</div>

            <input type="email" value="" name="EMAIL" class="newsletter__email form__input required email" id="mce-EMAIL" placeholder="{{ newsletter.newsletter_placeholder }}">

            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_3ce3fad69777ae8f60e020e76_231f1a6e3f" tabindex="-1" value="">
            </div>

            <input type="submit" value="{{ newsletter.newsletter_label }}" name="subscribe" id="mc-embedded-subscribe" class="newsletter__submit form__input button button--leaf">
            
            <div class="newsletter__info">
                {{ newsletter.newsletter_text }}
            </div>

            <div id="mce-responses" class="newsletter__response clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div> 
        </form>
    {% elseif current_language == "fr" %}
        {% set newsletter = options.newsletter_fr %}
        <form action="https://wwfcar.us20.list-manage.com/subscribe/post?u=3ce3fad69777ae8f60e020e76&amp;id=231f1a6e3f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            
            <div class="newsletter__title">{{ newsletter.newsletter_title_fr }}</div>

            <input type="email" value="" name="EMAIL" class="newsletter__email form__input required email" id="mce-EMAIL" placeholder="{{ newsletter.newsletter_placeholder_fr }}">

            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_3ce3fad69777ae8f60e020e76_231f1a6e3f" tabindex="-1" value="">
            </div>

            <input type="submit" value="{{ newsletter.newsletter_label_fr }}" name="subscribe" id="mc-embedded-subscribe" class="newsletter__submit form__input button button--leaf">
            
            <div class="newsletter__info">
                {{ newsletter.newsletter_text_fr }}
            </div> 

            <div id="mce-responses" class="newsletter__response clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div> 
        </form>
    {% endif %}
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>