{% from 'macros/icon.twig' import icon %}
<ul class="share {{ class }}">
    <li class="share__item">
        <a href="" class="share__link">
            {{ icon('fa-facebook-f') }}
        </a>
    </li>
    <li class="share__item">
        <a href="" class="share__link">
            {{ icon('fa-twitter') }}
        </a>
    </li>
    <li class="share__item">
        <a href="" class="share__link">
            {{ icon('fa-whatsapp') }}
        </a>
    </li>
    <li class="share__item">
        <a href="" class="share__link">
            {{ icon('fa-envelope') }}
        </a>
    </li>
</ul>